footer.footer {
  background-color: var(--footer-background);
  color: var(--footer-font-color);
  font-size: calc(15 / var(--rem-base) * 1rem);
  line-height: var(--footer-line-height);
  padding: 1.5rem;
}

.footer p {
  margin: 0.5rem 0;
}

.footer a {
  color: var(--footer-link-font-color);
}

@media screen and (prefers-color-scheme: dark) {
  footer.footer {
    background-color: hsl(240, 15%, 10%);
    color: hsl(240, 15%, 95%);
  }

  .footer a {
    color: hsl(240, 15%, 95%);
  }
}
