/*! Adapted from the GitHub style by Vasily Polovnyov <vast@whiteants.net> */

.hljs-comment,
.hljs-quote {
  color: #6a737d;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #24292f;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-attr {
  color: #0550ae;
}

.hljs-string,
.hljs-doctag {
  color: #116329;
}

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #8250df;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-subst {
  font-weight: normal;
}

.hljs-type,
.hljs-class .hljs-title {
  color: #0a3069;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-tag,
.hljs-name,
.hljs-attribute {
  color: #0a3069;
  font-weight: normal;
}

.hljs-regexp,
.hljs-link {
  color: #116329;
}

.hljs-symbol,
.hljs-bullet {
  color: #0550ae;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #0550ae;
}

.hljs-meta {
  color: #6f42c1;
  font-weight: var(--monospace-font-weight-bold);
}

.hljs-deletion {
  background: #ffdcd7;
}

.hljs-addition {
  background: #dafbe1;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: var(--monospace-font-weight-bold);
}

@media (prefers-color-scheme: dark) {
  .hljs-comment,
  .hljs-quote {
    color: #8b949e;
  }

  .hljs-keyword,
  .hljs-selector-tag,
  .hljs-subst {
    color: #fff;
  }

  .hljs-number,
  .hljs-literal,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-tag,
  .hljs-attr {
    color: #79c0ff;
  }

  .hljs-string,
  .hljs-doctag {
    color: #7ee787;
  }

  .hljs-title,
  .hljs-section,
  .hljs-selector-id {
    color: #d2a8ff;
  }

  .hljs-type,
  .hljs-class .hljs-title {
    color: #79c0ff;
  }

  .hljs-tag,
  .hljs-name,
  .hljs-attribute {
    color: #79c0ff;
  }

  .hljs-regexp,
  .hljs-link {
    color: #7ee787;
  }

  .hljs-symbol,
  .hljs-bullet {
    color: #79c0ff;
  }

  .hljs-built_in,
  .hljs-builtin-name {
    color: #79c0ff;
  }

  .hljs-meta {
    color: #d2a8ff;
  }

  .hljs-deletion {
    background: #da3633;
  }

  .hljs-addition {
    background: #238636;
  }
}
