<div class="admonitionblock note">
    <table>
        <tbody>
            <tr>
                <td class="icon"> <i class="fa icon-note" title="Note"></i> </td>
                <td class="content">
                    <div class="paragraph">
                        <p>This site is the new docs site currently being tested. For the actual docs in use please go to <a href="https://www.jenkins.io/doc/">https://www.jenkins.io/doc</a>.</p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
