html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

ul {
    padding-left: unset;
    margin-left: unset;
}

li {
    margin-bottom: unset;
}

.authorlisting {
    display: grid;
    gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(14%, 1fr));
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    transition: 0.2s ease;
    margin-bottom: 3rem;
}

.authorpost {
    border: solid lightgray 1px;
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    font-family:
        Inter,
        Helvetica,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        NotoColorEmoji,
        "Noto Color Emoji",
        "Segoe UI Symbol",
        "Android Emoji",
        EmojiSymbols,
        -apple-system,
        system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        sans-serif;
    transition: all 0.5s ease-out;
}

.authorpost:hover {
    border: solid black 1px;
}

.authorname {
    font-weight: 700;
}

.authorpost img {
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.authoravataricons {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
}

.authorinfo {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}
.authoravatar {
    border-radius: 100%;
}
.github {
    color: whitesmoke;
    font-size: 2rem;
}

.linkedin {
    color: white;
    font-size: 2rem;
}

.twitter {
    color: rgb(29, 161, 242);
    font-size: 2rem;
}

.blog {
    color: #2327fd;
    font-size: 2rem;
}

.authorpageavatar {
    float: left;
    margin: 1rem;
}

.authorpageavatar img {
    cursor: pointer;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    object-fit: cover;
}

.authorimagecontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 15rem;
}