html {
    font-size: 16px;
}

* {
    box-sizing: border-box;
}

ul {
    padding-left: unset;
    margin-left: unset;
}

li {
    margin-bottom: unset;
}

.bloglisting {
    display: grid;
    gap: 1.5rem;
    row-gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    box-sizing: border-box;
    padding: 0;
    list-style-type: none;
    transition: 0.2s ease;
}

.blogpost {
    border-radius: 5px;
    list-style: none;
    cursor: pointer;
    font-family:
        Inter,
        Helvetica,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        NotoColorEmoji,
        "Noto Color Emoji",
        "Segoe UI Symbol",
        "Android Emoji",
        EmojiSymbols,
        -apple-system,
        system-ui,
        "Segoe UI",
        Roboto,
        "Helvetica Neue",
        "Noto Sans",
        sans-serif;
    overflow: none;
  height: 33rem;
}

.blogpost:hover span {
    text-decoration: underline;
}

.blogpost img {
    position: relative;
    aspect-ratio: 1.91 / 1;
    overflow: hidden;
    z-index: 0;
    border-radius: 0.66rem;
    flex-shrink: 0;
    box-shadow: 0 30px 70px -50px rgba(0, 0, 40, 0.3);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
    margin-bottom: 1rem;
    filter: brightness(0.98);
}

.blogpost img:hover {
    transform: scale(1.06);
    -webkit-transform: scale(1.06);
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -o-transform: scale(1.06);
    box-shadow: 0 30px 70px -50px rgba(0, 0, 40, 5);
}
.blogarticle {
    width: 900vh;
    background-color: red;
}

.blogtitle {
    color: black;
    font-size: 1.3rem;
    font-weight: 650;
    max-width: 90%;
    line-height: 1.5;
    text-decoration: none;
    margin: 0;
}

.blogauthor {
    font-family: system-ui, "Segoe UI", roboto, "Noto Sans", oxygen, ubuntu, cantarell, "Fira Sans",
        "Droid Sans", "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    font-size: 1rem;
    color: #0064d6;
    margin-left: 0.5rem;
}

.blogteaser {
    position: relative;
    color: hsl(212, 30%, 40%);;
    margin: 0;
    text-decoration: none !important;
    line-height: 1.66;
    font-weight: 450;
    font-size: 1rem;
    text-overflow: clip;
    height: 80px;
    height: 3lh;
    overflow: hidden;
    flex-shrink: 1;
    flex-grow: 1;
    overflow-wrap: anywhere;
}

.blogauthorinfo {
    display: flex;
}

.blogauthorimage {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    display: inline;
    position: relative;
    top: 0.3rem;
    margin-inline: 0.2rem;
}
